{% extends "diary/base.html" %}

{% block content %}

<div class="card p-4">

<h3 class="mb-4">{{ subject.name }} — виберіть клас</h3>

<div class="row g-3">

{% for school_class in classes %}

<div class="col-md-3">

<a href="{% url 'grades_by_class' subject.id school_class.id %}"
class="text-decoration-none">

<div class="card p-3 text-center">

<h4 class="mb-0">
{{ school_class }}
</h4>

</div>

</a>

</div>

{% empty %}

<p>Немає класів з учнями</p>

{% endfor %}

</div>

</div>

{% endblock %}