{% extends "diary/base.html" %}

{% block content %}

<div class="card p-4">

<h3 class="mb-4">Мої оцінки</h3>

{% if grades %}

<div class="table-responsive">

<table class="table table-dark table-striped align-middle">

<thead>

<tr>
<th>Предмет</th>
<th>Клас</th>
<th>Оцінка</th>
<th>Дата</th>
</tr>

</thead>

<tbody>

{% for grade in grades %}

<tr>

<td>{{ grade.subject.name }}</td>

<td>{{ grade.student.school_class }}</td>

<td>
<span class="badge bg-primary">
{{ grade.grade }}
</span>
</td>

<td>{{ grade.date }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% else %}

<div class="alert alert-secondary">
У вас ще немає оцінок
</div>

{% endif %}

</div>

{% endblock %}